/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(226, 226, 226);
}

table a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
.footer {
  background-color: #ffffff;
  display: flex;
  width:88%;
  margin-left:280px;
}
footer ul{
  display: flex;
}
footer ul li{
  list-style: none;
  
}
footer ul li a{
  width: fit-content;
  text-decoration: none;
  color: #000;
}
footer p{
  color: #949494;
}

/* Main Section */
.main{
  /* position: relative; */
  /* padding: 20px; */
  width: 100%;
  padding-left: 22%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main .users{
  display: flex;
  width: 100%;
}
.users .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.users .card img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.users .card h4{
  text-transform: uppercase;
}
.users .card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}
.users .card button{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
}
.users .card button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

/*Attendance List serction  */
.attendance{
  margin-top: 20px;
  text-transform: capitalize;
}
.attendance-list{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #34425a;
  text-align: left;
  font-weight: bold;
}
.table th,
.table td{
  padding: 12px 15px;
}
.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}
/* .table tbody tr.active{
  font-weight: bold;
  color: #4AD489;
} */
/* .table tbody tr:last-of-type{
  border-bottom: 2px solid #4AD489;
} */
.table button{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}
.table button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5rem;
}

.table button a{
  width: 30px;
} 


.filter-options {
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}

.filter-option {
  display: flex;
  font-weight: bold;
  height: 23px;
  gap: 8px;
}

.documents-user-profile{
  margin: 10px;
  border: 1px solid rgba(169, 96, 96, 0.272);
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 98%;

}

.dark-mode {
  background-color: rgb(0, 9, 81);
  color: white;
}
.documents-user-profile .user-image img{
  height: 200px;
  width: 200px;

}
.documents-user-profile .user-details-flex{
  /* margin: 10px; */
  width: 100%;
  background-color: white;

}
.documents-user-profile .user-details-flex .user-details-row{
  border-bottom: 1px solid rgba(128, 128, 128, 0.272);
  margin-top: 20px;
  padding: 0 10px 0 10px;
  width: 100%;
  padding-left: 20px;
}
.documents-user-profile .user-details-flex .user-details-row p{
  margin: 0 0 15px 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.documents-user-profile .user-details-flex .user-details-row .user-social-row{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  
}
.documents-user-profile .user-details-flex .user-details-row .user-social-row span{
  margin-left: 6px;
  letter-spacing: 1px;
}
.documents-user-profile .user-details-flex .user-job-row{
  margin-top: 4%;
  margin-left: 3%;
  width: 80%;
  text-align: left;
}
.documents-user-profile .user-details-flex .user-job-row table{
  width: 100%;
}
.documents-user-profile .user-details-flex .user-job-row th{
  font-weight: 50;
  color: gray;
  font-size: small;
}
.documents-user-profile .user-details-flex .user-job-row td{
  font-weight: 700;
}
.documents-block{
  display: flex;
  flex-direction: row;

}










* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ======= Color ====== */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* ======= Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

}

body {
  height: 100vh;
  background: var(--body-color);

}

body.dark {
  --body-color: #18191A;
  --sidebar-color: #242526;
  --primary-color: #3A3B3C;
  --primary-color-light: #3A3B3C;
  --toggle-color: #fff;
  --text-color: #CCC;
}

.sidebar.close .text {
  opacity: 0;
}

/* ===== Resuable CSS ===== */
.sidebar .text {
  font-size: 15px;
  font-weight: 500;
}

/* ===== Side bar ===== */
.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  padding: 10px 14px;
  background: var(--sidebar-color);
}
.sidebar .close{
width: 78px;
}
.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 30px;
}

.sidebar p {
  font-size: 12px;
  font-weight: 600;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 200px;
  border-radius: 6px;
}

.sidebar header .image-text .header-text .icon {
  margin-left: 20px;
  display: flex;
  align-items: center;

}

.sidebar header .image-text .header-text .icon i {
  padding: 5px;
  background-color: #E4E9F7;
  border-radius: 50%;
}

.sidebar header .image-text .header-text .icon a {
  text-decoration: none;
  color: #18191A;
}

.sidebar header .image-text .header-text .icon i:hover {
  color: #24198d;
  border: 2px solid #24198d;
}

/* width */
::-webkit-scrollbar {
  position: relative;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  position: relative;
  box-shadow: inset 0 0 5px rgb(239, 239, 239);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  position: relative;
  background: #E4E9F7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c8d6fd;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 700;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  padding: 20px;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  color: #ffffff;
  font-size: 26px;

}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);

}

.sidebar li a:hover {
  background-color: var(--body-color);
}


.sidebar li a:hover .text,
.sidebar li a:hover .icon {
  color: var(--primary-color);
}


.sidebar .menu-bar {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;

}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode i.sun {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  height: 100%;
  min-width: 60px;

}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: red;
}

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
  cursor: pointer;
}

body.dark .switch::before {
  left: 24px;

}

.user-log .user {
  color: #0a0a0a;
  border-radius: 50% ;
  padding: 5px;
  margin-bottom: 2px;
  font-size: 25px;
  margin-left: 30px;
  gap: 50rem;
  padding-top: 16px;
}

.user-log {
  width: 280px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(238, 242, 246);
  color: black;
  font-size: 20px;
  border: none;
}
.user-log p{
  font-size: 20px;
  margin-left: 50px;
  padding-top: 16px;

}


.dropbtn {
  background-color: rgb(238, 242, 246);
  color: black;
  padding: 16px;
  font-size: 26px;
  border: none;
  margin-left: 40px;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: rgb(238, 242, 246);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  border-top: 1px solid #cfcfcf;
  font-size: 13px;
  font-weight: 500;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color:rgb(243, 249, 255)}


.dropup:hover .dropup-content {
  display: block;
}


.dropup:hover .dropbtn {
  background-color: rgb(238, 242, 246);
}
