/* add team */
.container1 {  display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 2fr;
    gap: 20px 5px;
    grid-auto-flow: column dense;
    /* width: 80%; */
    height:100vh;
    grid-template-areas:
      "info form";
  }
  
  .form { grid-area: form;
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 300px;
  
  }
  
  
  .info { 
    grid-area: info;
    background-color: #0d6efd;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 50px;
    color:whitesmoke;
    justify-content: stretch;
   }
  
  .radio {
    padding-top: 10px;
  }
  
  .savebtn {
    padding: 10px;
    text-align: end;
  }
  
  .backBtn {
    text-align: start;
    padding-bottom: 40px;
    color:#0d6efd;
  }
  .dark-mode {
    background-color: rgb(0, 9, 81);
    color: white;
  }