{% extends "index.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "JobSites.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Location</title>
</head>

<body>
    
   
    

    <div class="Container">
         <!-- <div class="Name">
        <h2>Job Sites</h2>
    </div>  -->
        <div class="row">
            <div class="column" style="background-color:#e9e6e6;"> 
                <div class="input-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search location to add a jobsites"/>
                    <button class="button">Search</button>
                </div>
                <br>
                <br>
                <br>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15226.281699782397!2d78.4428661!3d17.4323913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90ce69555555%3A0xe878f5d4343c5822!2sLUR%20IT%20BUSINESS%20SOLUTIONS%20(OPC)%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1701993656494!5m2!1sen!2sin"
                    width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" margin-bottom="500" margin-right="150"
                    padding-left="1000px"></iframe>
            </div>

            <div class="column" style="background-color:#e9e6e6;"> 
                <div class="common">
                    <div>
                    <button class="Add">+ Add A Jobsites</button>
                </div>
                </div>
                <div class="input-box-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search jobsites" />
                    <button class="button">Search</button>
                </div>
                <br>
                <br><br>

                <div class="dropdown-container">
                    <div class="dropdown">
                        <button class="dropbtn"><h5>Sort by</h5></button>
                        <div class="dropdown-content">
                            <a href="#">Alphabatically</a>
                            <a href="#">Last Visited</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn"><h5>Members</h5></button>
                        <div class="dropdown-content">
                            <a href="#">Prasuna</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
{% endblock content %}