<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYROLL MANAGEMENT</title>
    <link rel="stylesheet" href="C:\LURIT_ETS\Member.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="TeamScreen">

        <div class="sideBar">
            <nav class="sidebar">
                <header>
                    <div class="image-text">
                        <span class="image">
                            <img src="C:\LURIT_ETS\Logo.jpg" alt="">
                        </span>
                        <div class="text header-text">
                            <div class="icon">
                                <a href=""> <i class='bx bx-play-circle icon'></i></a>
                                <a href=""><i class='bx bx-down-arrow-circle icon'></i></a>
                                <a href=""><i class='bx bxs-hand-up icon'></i></a>
                                <a href=""> <i class='bx bx-moon icon'></i></a>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="menu-bar">
                    <div class="menu">
                        <p></p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../dashboard.html">
                                    <i class='bx bxs-dashboard icon'></i>
                                    <span class="text nav-text">Dashboard</span>
                                </a>
                            </li>
                        </ul>

                        <p>ACTIVITY</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../screenshot.html">
                                    <i class='bx bx-screenshot icon'></i>
                                    <span class="text nav-text">Screenshot</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Apps.html">
                                    <i class='bx bxs-category icon'></i>
                                    <span class="text nav-text">Apps</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../URL.html">
                                    <i class='bx bx-code-curly icon'></i>
                                    <span class="text nav-text">Urls</span>
                                </a>
                            </li>
                        </ul>

                        <p>TIMESHEETS</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../Timesheet.html">
                                    <i class='bx bx-calendar icon'></i>
                                    <span class="text nav-text">View Timesheet</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Approve.html">
                                    <i class='bx bx-calendar-check icon'></i>
                                    <span class="text nav-text">Approve Timesheet</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Attedence.html">
                                    <i class='bx bx-calendar-event icon'></i>
                                    <span class="text nav-text">Attendence</span>
                                </a>
                            </li>
                        </ul>

                        <p>PEOPLES</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../Member.html">
                                    <i class='bx bx-user icon'></i>
                                    <span class="text nav-text">Members</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Teams.html">
                                    <i class='bx bx-group icon'></i>
                                    <span class="text nav-text">Teams</span>
                                </a>
                            </li>
                        </ul>

                        <p>PROJECT MANAGEMENT</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../project.html">
                                    <i class='bx bx-folder icon'></i>
                                    <span class="text nav-text">Projects</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../todo.html">
                                    <i class='bx bxs-note icon'></i>
                                    <span class="text nav-text">To-dos</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../client.html">
                                    <i class='bx bxs-star-half icon'></i>
                                    <span class="text nav-text">clients</span>
                                </a>
                            </li>
                        </ul>

                        <p>LOCATION</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../JobSites.html">
                                    <i class='bx bxs-buildings icon'></i>
                                    <span class="text nav-text">Job site</span>
                                </a>
                            </li>
                        </ul>

                        <p>SHIFT & LEAVES</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../Schedule.html">
                                    <i class='bx bx-calendar-event icon'></i>
                                    <span class="text nav-text">Schedules</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../timeoff.html">
                                    <i class='bx bx-calendar-edit icon'></i>
                                    <span class="text nav-text">Time off</span>
                                </a>
                            </li>
                        </ul>

                        <p>REPORTS</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../time&activity.html">
                                    <i class='bx bx-time-five icon'></i>
                                    <span class="text nav-text">Time & Activity</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Weekly.html">
                                    <i class='bx bx-bar-chart-square icon'></i>
                                    <span class="text nav-text">Weekly</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Dynamicreport.html">
                                    <i class='bx bx-devices icon'></i>
                                    <span class="text nav-text">Dynamic Report</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../report.html">
                                    <i class='bx bx-file icon'></i>
                                    <span class="text nav-text">All Report</span>
                                </a>
                            </li>
                        </ul>

                        <p>SETTINGS</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../general.html">
                                    <i class='bx bx-poll icon'></i>
                                    <span class="text nav-text">General</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../feature.html">
                                    <i class='bx bx-heart icon'></i>
                                    <span class="text nav-text">Features</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Subscription.html">
                                    <i class='bx bx-bookmark-heart icon'></i>
                                    <span class="text nav-text">Subscription</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Organization.html">
                                    <i class='bx bx-sitemap icon'></i>
                                    <span class="text nav-text">Organization</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../allsettings.html">
                                    <i class='bx bx-cog icon'></i>
                                    <span class="text nav-text">All Settings</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Integration.html">
                                    <i class='fa-solid fa-puzzle-piece icon'></i>
                                    <span class="text nav-text">Integrations</span>
                                </a>
                            </li>
                        </ul>

                        <p>Documentation</p>
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="../changelog.html">
                                    <i class="fa-solid fa-hourglass-start icon"></i>
                                    <span class="text nav-text">Change Log</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="../Helpdesk.html">
                                    <i class='bx bx-message-square-dots icon'></i>
                                    <span class="text nav-text">Help Desk</span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a href="../Helpdesk.html">
                                    <i class='bx bx-message-square-dots icon'></i>
                                    <span class="text nav-text">Help Desk</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user-log">
                    <i class='bx bxs-user user'></i>
                    <p>King</p>
                    <div class="dropup">
                        <i class='bx bx-dots-vertical-rounded dropbtn'></i>
                        <div class="dropup-content">
                            <a href="../Organization.html" style="border: none;">Organization <i class='bx bx-chevron-right'></i></a>
                            <a href="../profile.html">profile</a>
                            <a href="../login.html">logout</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="navBar">
            <nav class="navbar" style="background-color: #ffffff;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="C:\LURIT_ETS\Member.html">Members</a>
                    <a href="C:\LURIT_ETS\People\addNewMember.html">
                        <button type="button" class="btn btn-primary"> + Invite New Members </button>
                    </a>
                </div>
            </nav>
        </div>

        <div class="TeamContainer">
            <div class="dashboard">
                <!-- Your dashboard content goes here -->
                <div class="widget">
                    <h5>TOTAL</h5>
                    <h2>1</h2>
                </div>

                <div class="widget">
                    <h5>ONLINE</h5>
                    <h2>00</h2>
                </div>

                <div class="widget">
                    <div class="DeviceIcons">
                        <div class="Browser">
                            <p><img src="https://app.workstatus.io/assets/browser_new.47475fda.svg" alt="error"
                                    style="height: 20px; width: 20px;" /> 00</p>
                        </div>
                        <div class="windows">
                            <p><img src="https://app.workstatus.io/assets/windows.a29c68f8.svg" alt="error"
                                    style="height: 20px; width: 20px;" /> 00</p>
                        </div>
                        <div class="Mac-OS">
                            <p><img src="https://app.workstatus.io/assets/mac_os_new.75698757.svg" alt="error"
                                    style="height: 20px; width: 20px;" /> 00</p>
                        </div>
                        <div class="linux">
                            <p><img src="https://app.workstatus.io/assets/linux_new.0bbf41bb.svg" alt="error"
                                    style="height: 20px; width: 20px;" /> 00</p>
                        </div>
                        <div class="apple">
                            <p><img src="https://app.workstatus.io/assets/ios_new.c2283a69.svg" alt="error"
                                    style="height: 20px; width: 20px;" /> 00</p>
                        </div>
                        <div class="android">
                            <p><img src="https://app.workstatus.io/assets/android_new.992eff85.svg" alt="error"
                                    style="height: 20px; width: 20px;" /> 00</p>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <h5>OFFLINE</h5>
                    <h2>1</h2>
                </div>

                <div class="widget">
                    <h5>DELETED</h5>
                    <h2>00</h2>
                </div>

                <div class="widget">
                    <h5>DEACTIVATED</h5>
                    <h2>00</h2>
                </div>
            </div>
            <div class="pages">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" href="C:\LURIT_ETS\Member.html">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="C:\LURIT_ETS\People\invited.html">Invited</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="C:\LURIT_ETS\People\requested.html">Requested</a>
                    </li>
                </ul>
            </div><br>

            <div class="containerStyle">

                <div class="DataTable">
                    <img src="C:\LURIT_ETS\People\EmptyFolder.jpg" alt="folderempty" />
                </div>
                <div>
                    <p>There are no members requested!</p>
                </div>
                <div>
                    <a href="C:\LURIT_ETS\People\addNewMember.html">
                        <button type="button" class="btn btn-primary">+ Invite New Members</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>